In [7]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv("E:\SampleCleaned_household_power_consumption.csv")

In [9]:
df.head()

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Total_Meter_Rating
0,0.582,0.160,237.66,2.8,6.0
1,0.670,0.074,241.02,2.8,1.0
2,0.604,0.100,239.26,2.4,0.0
3,2.640,0.130,238.78,11.0,0.0
4,3.348,0.204,234.98,13.9,44.0

In [10]:
df.columns

Index(['Global_active_power', 'Global_reactive_power', 'Voltage',
       'Global_intensity', 'Total_Meter_Rating'],
      dtype='object')

In [18]:
df_copy=df.copy()

In [19]:
## Segregating Independent & Dependent variable
X=df_copy.drop('Total_Meter_Rating',axis=1)
y=df_copy['Total_Meter_Rating']

In [20]:
X

       Global_active_power  Global_reactive_power  Voltage  Global_intensity
0                    0.582                  0.160   237.66               2.8
1                    0.670                  0.074   241.02               2.8
2                    0.604                  0.100   239.26               2.4
3                    2.640                  0.130   238.78              11.0
4                    3.348                  0.204   234.98              13.9
...                    ...                    ...      ...               ...
59995                1.414                  0.066   237.94               6.0
59996                0.222                  0.000   244.16               1.0
59997                0.408                  0.000   236.61               2.0
59998                0.254                  0.000   247.45               1.0
59999                1.832                  0.410   240.53               7.8

[60000 rows x 4 columns]

In [21]:
y

0         6.0
1         1.0
2         0.0
3         0.0
4        44.0
         ...
59995    17.0
59996     0.0
59997     0.0
59998     1.0
59999    19.0
Name: Total_Meter_Rating, Length: 60000, dtype: float64

In [23]:
pip install "pymongo[srv]"

Collecting pymongo[srv]Note: you may need to restart the kernel to use updated packages.
  Downloading pymongo-4.3.2-cp39-cp39-win_amd64.whl (381 kB)
Collecting dnspython<3.0.0,>=1.16.0
  Using cached dnspython-2.2.1-py3-none-any.whl (269 kB)

Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.2.1 pymongo-4.3.2

In [24]:
# Uploading the data in MongoDB database
import pymongo

In [25]:
client = pymongo.MongoClient("mongodb+srv://rajesh:rajesh123@raj95.c0ymy.mongodb.net/?retryWrites=true&w=majority")

In [26]:
database = client['power_consumption']
collection = database['household_power_data']

In [27]:
data_dict = X.to_dict("records")
collection.insert_many(data_dict)